@font-face {
  font-family: 'Teshrin AR+LT';
  src: url('../fonts/TeshrinARLT-Bold.woff2') format('woff2'),
      url('../fonts/TeshrinARLT-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Teshrin AR+LT';
  src: url('../fonts/TeshrinARLT-ExtraLight.woff2') format('woff2'),
      url('../fonts/TeshrinARLT-ExtraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Teshrin AR+LT Hairline';
  src: url('../fonts/TeshrinARLT-Hairline.woff2') format('woff2'),
      url('../fonts/TeshrinARLT-Hairline.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Teshrin AR+LT';
  src: url('../fonts/TeshrinARLT-Heavy.woff2') format('woff2'),
      url('../fonts/TeshrinARLT-Heavy.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Teshrin AR+LT';
  src: url('../fonts/TeshrinARLT-Light.woff2') format('woff2'),
      url('../fonts/TeshrinARLT-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Teshrin AR+LT';
  src: url('../fonts/TeshrinARLT-Medium.woff2') format('woff2'),
      url('../fonts/TeshrinARLT-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Teshrin AR+LT';
  src: url('../fonts/TeshrinARLT-Regular.woff2') format('woff2'),
      url('../fonts/TeshrinARLT-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Teshrin AR+LT';
  src: url('../fonts/TeshrinARLT-Thin.woff2') format('woff2'),
      url('../fonts/TeshrinARLT-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

