.woocommerce-additional-fields{
  #delivery_type_field, #delivery_date_field{
    display: none;
  }
}

.order-review-wrap{
  h3{
    // margin-top: 40px;
    display: inline-block;
    width: 100%;
  }
}

.checkout_coupon{
  display: inline-block;
  width: 100%;
}

.woocommerce-orders-table__cell-order-actions{
  display: flex !important;
  width: auto !important;
  justify-content: center;
  .btn{
    margin-left: 2px !important;
    margin-right: 2px !important;
  }
}

.woocommerce-checkout-payment{
  .payment-option-wrap{
    max-width: 460px;
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0 0 9px 0 rgba(0,0,0,0.10);
    border-radius: 10px;
    padding: 0px;
    .wc_payment_methods{
      list-style: none;
      margin: 0px;
      padding: 0px;
      .input-radio{
        margin-right: 15px;
      }
      li{
        padding: 30px 30px;
        label{
          font-size: 17px;
          color: var(--primary-body-color);
          font-weight: 500;
          letter-spacing: 0;
          line-height: 22px;
          display: inline-flex;
          align-items: center;
          img{
            margin-left: 20px;
          }
        }
        p{
          font-size: 15px;
          font-weight: 300;
          color: var(--primary-body-color);
          letter-spacing: 0;
          line-height: 21px;
        }
        & + li{
          margin-top: 0px;
          border-top: 1px solid var(--default-color);
        }
      }
    }
  }
}

.form-row{
  &.notes{
    .input-text{
      min-height: 180px;
    }
  }
}

.wc-proceed-to-checkout{
  &.btn-wrap{
    text-align: right;
    margin-top: 44px;
  }
}

.cart-subtotal, .order-total{
  [data-title]{
    text-align: right;
  }
}

.woocommerce-billing-fields, .woocommerce-additional-fields, .order-review-wrap{
  display: inline-block;
  width: 100%;
}