section{
  &.contact-page{

    .select-wrap{
      .label-select{
        font-size: 17px;
        color: var(--primary-body-color);
        position: absolute;
        z-index: 1;
        left: 25px;
        top: 20px;
        @include mobile{
          font-size: 15px;
          left: 20px;
        }
      }
      .select2-selection__rendered{
        text-align: right;
        margin-right: 50px;
      }
    }

    .content {
      .flex{
        .col{
          width: 100%;
          max-width: 464px;
          @include  tablet{
            max-width: 100%;
          }
          & + .col{
            padding-left: 80px;
            @include  tablet{
              padding-left: 0px;
              padding-top: 30px;
            }
          }
          .bobble-group{
            margin-top: -130px;
            right: -130px;
            position: relative;
            @include  tablet{
              margin-top: -320px;
              max-width: 400px;
              float: right;
              right: -120px;
            }
            @include mobile{
              right: -65px;
              margin-top: -100px;
              max-width: 280px;
            }
          }
        }
      }
      @include mobile{
        .clear{
          & + p{
            input.button{
              margin-left: 50px;
            }
            text-align: center;
          }
        }
      }
    }
    .contact-info{
      .block{
        h4, p, address, h3{
          color: var(--primary-body-color);
        }
        h3{
          font-size: 34px;
          letter-spacing: 0;
          margin: 0px 0px 30px 0px;
        }
        h4{
          font-size: 17px;
          letter-spacing: 0;
          line-height: 22px;
          margin: 0px 0px 12px 0px;
          & + h4{
            margin-top: 25px;
          }
        }
        address{
          font-style: normal;
          margin-bottom: 40px;
          h4{
            font-weight: 600;
            font-size: 17px;
            letter-spacing: 0;
            line-height: 22px;
            @include mobile{
              font-weight: 600;
            }
          }
          h4, p{
            @include mobile{
              font-size: 15px;
              letter-spacing: 0;
              line-height: 21px;
            }
          }
        }
      }
    }
    .locate-map{
      .title{
        h3{
          margin-top: 50px;
          @include mobile{
            margin-top: 30px;
          }
        }
      }
      #map{
        border-radius: 53px;
        height: 390px;
        width: 100%;
        @include mobile{
          height: 335px;
        }
      }
    }
  }
}

.wpcf7 .ajax-loader{
  background-color: var(--primary-color);
  margin: 0px 15px;
  top: 7px;
}