.swiper-pagination .container .swiper-pagination-bullet + .swiper-pagination-bullet{
  margin-left: 0px;
  margin-right: 15px;
}

.swiper-button-prev, .swiper-button-next{
  transform: rotate(180deg);
}

.swiper-button-prev{
  right: 10px;
  left: auto;
}

.swiper-button-next{
  left: 10px;
  right: auto;
}