.woocommerce-form{
  [type="checkbox"], [type="radio"]{
    margin-right: 0px;
    margin-left: 8px;
  }
}

.form-row .icon-wrap{
  right: auto;
  left: 25px;
}

.woocommerce-checkout-payment .payment-option-wrap .wc_payment_methods .input-radio{
  margin-right: 0px;
  margin-left: 15px;
}

.form-row label.checkbox input{
  margin: -3px 0 0 15px;
}