
section{
  padding-top: 50px;
  padding-bottom: 50px;
  overflow-x: hidden;
  @import "home/banner";
  @import "home/shop";
  @import "home/why-vivi";
  @import "home/our-story";
  @import "home/download-app";
  @import "home/news-updates";
  @import "home/social";
  @import "home/get-more";
}